<b>Hello, <%=@invitation.receiver%></b>
<p>
<%=@invitation.sender%>(<%=@invitation.sender_email%>) thought you might be interested in playing in one of the exciting Santa Cruz Beach Soccer Championships tournaments May 31 - June 1st, 2014, in front of the Santa Cruz Beach Boardwalk. If you register for both tournaments the team gets FREE tournament T-Shirts!
</p>
<p>
The 5v5 tournament is for recreational and competitive players of all age U8 and up, including adult co-ed, and men's open. There will be U.S. National players present and the men's open will have a cash prize. The flyer below gives registration and website information to help managers organize teams, lodging, and entertainment.
</p>
<p>
Click on the flyer below to visit our website. We look forward to seeing you out on the beach!
</p>
<b> Philip Scicluna, Director</b><br/>
<b> Cruz Beach Soccer Championships</b><br/>
www.beachsoccerchampionships.com
</p>

 <br/>
<%= image_tag attachments['flyer_email(new).jpg'].url %>