<div class="page-header">
	<h3>Accommodations</h3>
</div>
<p>To assist you in your tournament weekend plans, we recommend reserving accommodations as soon as possible. You have the option to stay in Santa Cruz (or nearby communities) or stay at home and travel to the tournament each day. Hotels can be booked at many online sites. There are many nearby communities that you can stay in for the tournament. These communities include:</p>
<ul>
  <li>Watsonville</li>
  <li>Aptos</li>
  <li>Capitola</li>
  <li>Monterey</li>
  <li>And other nearby communities...</li>
</ul>
<p>Here are some of the many options to choose from:</p>
<ul>
  <li><a href="http://www.kayak.com/" target="_blank">www.kayak.com</a></li>
  <li><a href="http://www.travelocity.com/" target="_blank">www.travelocity.com</a></li>
  <li><a href="http://www.airbnb.com/" target="_blank">www.airbnb.com</a> (to rent houses and rooms in the Santa Cruz area)</li>
</ul>
<p>We also recommend camping in the local campgrounds. The area around Santa Cruz is beautiful and the weather is great for staying outdoors this time of year. Most campgrounds also require early reservations. 
</ul>
<p>Questions? 415-342-5852 or <a href="mailto:info@BeachSoccerChampionships.com">info@beachsoccerchampionship.com</a> (calls accepted after March 15th, email for immediate questions).</p>
<p>&nbsp;</p>