<div class="page-header">
	<h3>Announcements</h3>
</div>

<p><strong>We regret to inform you that we were unable to renew our contract with the San Jose Earthquakes</strong><br />
They will not be participating this year.</p>
<p>SANTA  CRUZ, Calif – 2012 is a great year for beach soccer in Santa Cruz. Both  weekends of beach soccer, that the soccer community has come to love, will be  organized and directed by Philip Scicluna and the Santa Cruz Beach Soccer  Championships. Philip is the brain behind beach soccer on the west coast and  organized the first beach soccer tournament in Santa Cruz in 2005. With his  experience and passion for the game, the beach soccer community is in for a  treat having both tournaments organized by him. Philip has recently played in  Dubai, UAE in the Footvolley World Cup representing the United States and he  has spent three months in Rio de Janeiro, Brazil enhancing his skills in beach  soccer and footvolley. He is not only the top organizer, but a player himself.  Beach soccer is close to his heart.</p>
<p>&nbsp;</p>
<p><strong>Players       from the Men’s National Team Confirmed to Play in the Men’s Open Division.</strong></p>
<p>SANTA  CRUZ, Calif – When you register to play in the Santa Cruz Beach Soccer  Championships on June 2-3 or June 16-17, do not miss the Men’s Open games.  Players from the Men’s National Beach Soccer Team, as well as former  professional grass players, will be showing their skills on the main field. Pictures  and autograph sessions after each game will be available.</p>
<p>&nbsp;</p>
<p><strong>Santa Cruz Beach Boardwalk Discounts</strong></p>
<p>Order your discounted tickets to the famous Santa Cruz Beach Boardwalk and ride the rides! Discounts available to all Santa Cruz Beach Soccer Championships participants and their friends and families. Details below:</p>
<blockquote>
  <p> <a href="http://www.beachboardwalk.com/soccer" target="_blank">www.beachboardwalk.com/soccer</a><br />
    $21.95 plus tax - $23.05 (normally $29.95 plus tax)<br />
    PROMO CODE FOR JUNE 2 &amp; 3: BeachSoccer1<br />
    PROMO CODE FOR JUNE 16 &amp; 17: BeachSoccer2</p>
</blockquote>
<p>
  <!--<p><span class="date">05.22.09</span><br />
  The Beach Clinic will take place on Friday, June 19th, from 4:00 pm to  5:30 pm on the Main Beach near the stage.  The Clinic is free for all  youth registrants, U9-U15.  Participants will receive a brief overview  of the game and its rules, tips on techniques, goalkeeping,  shooting, and ball handling skills.</p>-->
</p>
<p>&nbsp;</p>
</div>

<div id="clear">
</div>