<h3>Former Beach Soccer Champions</h3>
<br />
<h5>Congratulations to the 2012 Champions!</h5>
<table border="0" cellpadding="10" cellspacing="0">
  <tr>
    <td colspan="2" valign="top"><strong>June 2-3</strong></td>
    </tr>
  <tr>
    <td valign="top"><p><strong>Girls:</strong></p>
      <ul>
        <li>U10: 1st-Killer Bees, 2nd-Azuri</li>
        <li>U11: Bolt, Select</li>
        <li>U12: Aftershocks, 01 Elite</li>
        <li>U13: Hurricanes, Spirit</li>
        <li>U14: Cyber Rays, OV Fusion Blue</li>
        <li>U16: Inside Joke!, Jaws 96</li>
        <li>U17: Shock White, Shock Blue</li>
        <li>U18: Earthquakes, SMSC Mania</li>
      </ul></td>
    <td valign="top"><p><strong>Boys:</strong></p>
      <ul>
        <li>U10: Sharks, NU 02B Green</li>
        <li>U11: Barbarians Red, Ninjas</li>
        <li>U13: Octopi, Hotspur</li>
        <li>U14: Barbarians Red Tide, Barbarians White</li>
        <li>U15: South Valley Boys, Livermore Beach Boys</li>
      </ul>
      <p><strong>Mens:</strong> ESPN Deportistas, Humbolt Skillzmen<br />
        <strong>Womens:</strong> Dos Equis, SC Bombshells<br />
        <strong>CoEd:</strong> Gunners, Vacavillians</p></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"> <strong>June 16-17</strong></td>
    </tr>
  <tr>
    <td valign="top"><p><strong>Girls:</strong></p>
      <ul>
        <li>U9: Flames, Stars</li>
        <li>U10: Rage Surfers, Thunder</li>
        <li>U11: Stars, Hotshots</li>
        <li>U13: United, Tornadoes Boardwalk</li>
        <li>U14: Ukiah, Orange Crush</li>
        <li>U15: United Red, Berkeley United</li>
        <li>U16: Delta Black, Cyclones</li>
        <li>U17: Explosion, Pride</li>
        </ul>
      <p><strong>Mens:</strong> Turtles, Super Soccer<br />
        <strong>Men's Open:</strong> Shoreline, Santa Cruzn'<br />
        <strong>Womens:</strong> MVU Black, Fresh Coast WAZA<br />
        <strong>CoEd:</strong> 3rd Avenue, Sandy Balls</p></td>
    <td valign="top"><p><strong>Boys:</strong></p>
      <ul>
        <li>U9: 1st-Super Soccer, 2nd-Revolution</li>
        <li>U10: Atlas, United White</li>
        <li>U11 Sand: Mini-GTNKD, Liverpool</li>
        <li>U11 Sea: Stars, Blackhawks</li>
        <li>U12: GTNKD, Hot Pink</li>
        <li>U13: Bears, Golden Touch</li>
        <li>U14: Beach Flats, Furious Futbol</li>
        <li>U15: Sand Swag, Crece Select</li>
        <li>U16: Beach Flats, GTNKD</li>
      </ul>
      <p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<h5>Congratulations to the 2011 Champions!</h5>
<table border="0" cellpadding="10" cellspacing="0">
  <tr>
    <td valign="top"><p>Men's Open - Shoreline<br />
      Men's - JAS 21<br />
      Adult Co-ed - Gunners<br />
      Boys U9/10 - Mini GTNKD<br />
      Boys U11 - Warriors<br />
      Boys U12 - United<br />
      Boys U13 - Junior Get Naked<br />
      Boys U14 - Valor<br />
      Boys U15 - Beach Flats<br />
      Boys U16/17 - Santa Cruz Chelsea</p></td>
    <td valign="top"><p>Women's - SJ United<br />
      Girls U10/11 - Sand Sharks<br />
      Girls U12 - Tornadoes Beach<br />
      Girls U12 Sea - Fury 2<br />
      Girls U13 Sand - Ukiah 98<br />
      Girls U14 Sand - United Red<br />
      Girls U14 Sea - Heat<br />
      Girls U15/16 - Wave Riders<br />
      Girls U17 - Wolf Pack </p></td>
    </tr>
</table>
<table class="border1">
  <tr>
    <td><img src="/assets/team_shoreline.jpg" alt="" width="490" height="399" /></td>
  </tr>
  <tr>
    <td align="center"><span class="date">Men's Open - Shoreline</span></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>