<h3>EMT Weekend Job</h3>
<p>Qualifications:</p>
<ul>
  <li>We need two (2) Certified EMTs for the weekend of each tournament</li>
</ul>
<p>Job Description:</p>
<ul>
  <li>8am-6pm each day</li>
  <li>Responsible for the EMT tent on Main Beach</li>
  <li>Take care of minor injuries for beach soccer players</li>
  <li>Abide by the tournament emergency plan</li>
</ul>
<p>What to Bring:</p>
<ul>
  <li>EMT Equipment - Including, but not limited to:
    <ul>
      <li>Band Ai Sting Kit</li>
      <li>ds</li>
      <li>Bandages</li>
      <li>Blood Pressure Pump</li>
      <li>Stethoscope</li>
      <li>Ointments</li>
      <li>Anti-Bacterial Cream</li>
      <li>Swabs</li>
      <li>Gauze Pads</li>
      <li>Splint (36”x3”)</li>
      <li>Bow Mask</li>
      <li>Bee</li>
    </ul>
  </li>
  </ul>
<p>Compensation:</p>
<ul>
  <li>Minimum of $200 depending on individual qualifications</li>
  <li>Free food and beverages during the weekend at the hospitality tent</li>
  <li>Complementary staff dinner on Saturday night</li>
  <li>Free T-Shirt</li>
</ul>
<p>Interested or Have Any Questions:</p>
<ul>
  <li>Provide a valid copy of your EMT card, your contact information, and the contact information for a backup EMT you have arranged for cover if you are unable to attend for any unforeseen reason (they will only be contacted if needed).</li>
  <li>Phone: 415-342-5851, Phil Scicluna, Tournament Director</li>
  <li>Email: <a href="mailto:Info@BeachSoccerChampionships.com">Info@BeachSoccerChampionships.com</a></li>
  <li>Website: <a href="http://www.BeachSoccerChampionships.com">www.BeachSoccerChampionships.com</a></li>
</ul>
<p>Deadline:</p>
<ul>
  <li>FIRST COME, FIRST SERVE</li>
</ul>
<p>&nbsp;</p>
<p>If  you are interested, please call us at 415-342-5851 (calls accepted after March  15th) or email us at <a href="mailto:info@BeachSoccerChampionships.com">info@BeachSoccerChampionships.com</a>.</p>
<p>&nbsp;</p>
