
<div class="page-header">
  <h2>Join Santa Cruz Beach Soccer Championships! </br><small>May 31 - June 1, 2014</small></h2>
</div>

<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<p>Welcome to the Santa Cruz Beach Soccer Tournament where over 150 teams compete behind the world famous Santa Cruz Boardwalk. We have had 5 successful years of the games and still going strong. Next years tournament will be held on the weekend of May 31st and June 1st, 2014</span>. Registration will be open soon. Accommodations fill quickly so mark your calenders and get ready for this exciting weekend.</p>

<p><strong>These tournaments are truly fun  for the whole family. </strong>Divisions  are set up for under-8 boys and girls through under-19, collegiate, adult  co-ed, women&rsquo;s and men&rsquo;s. There is also a men&rsquo;s open cash prize division with  the winning side taking home $1,500. The tournament is for the recreational or  competitive player. Any player, no matter what the experience will fit right  in! This unforgettable experience shouldn&rsquo;t be missed!</p>
<table align="center" style="padding:10px;">
  <tr>
    <td align="center"><span class="fake_btn2"><a href="champs">2013 List of Champions</a></span></td>
    </tr>
</table>
<p>All  games are 5 v 5: 4 players on the field, plus a goalkeeper. Games consist of  three 11-minute periods, with 2-minute rests between periods. Each team will  play 2 games on Saturday, a minimum of 1   to 3 games on Sunday,  and up to 2 more games based on performance.&nbsp;Competitive and recreational teams are invited  to play.</p>
<p><span class="highlight">  Register for both tournaments and your entire team gets FREE t-shirts!</span></p>
<p>Divisions:</p>
<ul>
  <li>Boys U8-U19</li>
  <li>Girls U8-U19</li>
  <li>Collegiate*</li>
  <li>Adult Co-ed</li>
  <li>Women's</li>
  <li>Men's</li>
  <li>Men's Open (Cash Prize)</li>
</ul>
<p>* Collegiate players are able to  play in our competitive divisions, but not in our Men's Open cash prize  division. A Division I collegiate team cannot have more than 5 players on the  same team per NSCAA.</p>
<table align="center" class="border1">
  <tr>
    <td><img src="/assets/team_shoreline.jpg" alt="" width="490" height="399" /></td>
    </tr>
  <tr>
    <td align="center"><span class="date">Men's Open - Shoreline</span></td>
  </tr>
</table>
<p> A big thanks to the thousands of participants and spectators at The Santa Cruz Beach Soccer Championships. The tournament with One World Futbol has brought a lot of people together with inspiration, action, and good times to get to know one another better. We appreciate the high flying bicycle goals scored by youth and the Men's Open players, especially to the Fresh Coast Beach Soccer Champions, Shoreline Beach Soccer Club. The team embodies the spirit of the game by sharing the tactics and strategies they know with other teams, and hugging the opposing team after the match. This dedication and good sportsmanship is the true meaning of beach soccer!</p>
<p>We want your shots, saves and people to be recognized on our website! Those pictures and video clips show us the great goals and celebrations that were made and great saves and plays that kept the team in the game. Send your pictures and videos to <a href="mailto:info@beachsoccerchampionships.com" target="_blank">info@beachsoccerchampionships.com</a> or submit a CD to P.O. Box 330180, San Francisco, CA 94133.</p>
<p> Aloha and big thanks to Karaoke Sound Co for the rolling sounds and crew on the main beach in Santa Cruz. We want to invite you and your club to the 4v4 grass tournament being hosted by Albany-Berkeley Soccer Cub in Berkeley, CA on Labor Day weekend. Email if your team or teams are interested in joining us.</p>
<p>&nbsp;</p>
<p>If you have pictures or videos from the 2009-2013 tournaments, we'd love to display them on our web page for all to enjoy! <a href="mailto:info@BeachSoccerChampionships.com">Please send them to us</a>!</p>
<p>Read an <a href="http://www.dublinsoccer.org/wp.php/?p=918" target="_blank">article</a> about the Beach Soccer Championships.</p>

