<div class="page-header">
	<h3>Invite Your Friends</h3>
</div>
<form method="post" action="flyer_action.asp" name="flyer" onSubmit="return validateForm(flyer);">
<p>Invite your friends and teams to the Santa Cruz Beach Soccer Championships by sending them our flyer! If you are a club and want to forward our information to your participants, please email us at <a href="mailto:info@beachsoccerchampionships.com">info@beachsoccerchampionships.com</a>.</p>
<table border="0" cellspacing="1" cellpadding="5">
  <tr>
    <td align="right"><strong>To</strong></td>
    <td align="right">Name:</td>
    <td><input type="text" name="NameTo" id="NameTo" /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td align="right"> Email:</td>
    <td><input type="text" name="EmailTo" id="EmailTo" /></td>
  </tr>
  <tr>
    <td align="right"><strong>From</strong></td>
    <td align="right">Name:</td>
    <td><input type="text" name="NameFrom" id="NameFrom" /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td align="right"> Email:</td>
    <td><input type="text" name="EmailFrom" id="EmailFrom" /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td><input type="submit" name="submit" id="submit" value="Submit" class="btn" onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" /></td>
  </tr>
</table>
<p>&nbsp;</p>
<p><img src="/assets/flyer_email(new).jpg" alt="" width="500" height="666" /></p>
<p>&nbsp;</p>
</form>
<p>&nbsp;</p>
</div>