<div class="page-header">
	<h3>Location</h3>
</div>
<p>Santa Cruz, California is the perfect location for sun, sand, surf and soccer to unite. Nestled in the majestic coastal redwoods of the Santa Cruz Mountains, it is a quintessential beach town known for its idyllic beaches, world-class surf breaks, and peaceful, relaxed community. Located on Monterey Bay, it is the first place surfing was introduced to the mainland by Hawaiian royalty and has the first public skate park in the USA.</p>
<p>The Santa Cruz Beach Soccer Championships are played on the sand at Main beach, below the Santa Cruz Beach Boardwalk (located at 400 Beach Street, Santa Cruz, CA 95060). Play or watch the games while soaking in the California sun, then refresh yourself as you take a swim or paddle out to catch some waves.</p>
<table class="border1">
  <tr>
    <td><a rel="shadowbox;options={handleOversize:'drag'}" class="option" href="/assets/map.jpg" onclick="javascript:scroll(0,0)"><img src="/assets/map.jpg" width="550" height="331" border="0" /></a></td>
  </tr>

</table>
<p>When you want to take a break from the beach soccer action, there are many activities to choose from. The most obvious is all the fun to be had at the West Coast’s oldest seaside amusement park, the <a href="http://www.beachboardwalk.com" target="_blank">Santa Cruz Beach Boardwalk</a>. A State Historic Landmark, the Santa Cruz Beach Boardwalk has recently been voted the World’s Best Seaside Amusement Park and is home to two National Historic Landmarks, the 1911 Charles I.D. Loof carousel and the 1924 Giant Dipper wooden roller coaster. The balance of the modern and classic at this amusement park appeals to all ages. The Santa Cruz Beach Boardwalk also offers miniature golf, bowling, arcades, restaurants and live entertainment. <a href="http://beachboardwalk.com/01_tickets.html" target="_blank">Admission</a> to the Boardwalk is free and affordable ticket packages are available. You can also visit the Santa Cruz Wharf, built in 1914. At the wharf, you can fish, take a boat tour, watch the sea lions, shop, or visit the fish market.</p>
<p>In town, you will find an eclectic, dynamic community and activities to please everyone. During the summer months, Pacific Avenue at the heart of downtown is guaranteed to be a vivacious place to wander or to just sit and people watch. You will find a variety of historic buildings, bookstores, boutiques and galleries to browse through, as well as many great restaurants, bars, live music venues and independent theaters.</p>
<p><iframe width="600" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;t=h&amp;s=AARTsJqmadQyoXhy9732oHmj8FQsMi_TQw&amp;msa=0&amp;msid=109382067415304455179.00045fb270ea1f764b5db&amp;ll=36.965975,-122.01371&amp;spn=0.008229,0.013733&amp;z=16&amp;output=embed"></iframe><br /><a href="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;t=h&amp;msa=0&amp;msid=109382067415304455179.00045fb270ea1f764b5db&amp;ll=36.965975,-122.01371&amp;spn=0.008229,0.013733&amp;z=16&amp;source=embed">View Larger Map</a></p>
<p>&nbsp;</p>
<p>Download a <a href="docs/parking.pdf" target="_blank">Parking Map</a> (147k PDF)<br />
  View <a href="http://www.ci.santa-cruz.ca.us/pw/trafeng/parking/parking.html" target="_blank">downtown Santa Cruz parking facilities</a><br />
  Download a <a href="http://beachboardwalk.com/VisitorMap.pdf" target="_blank">Boardwalk Map</a> (1.7m PDF)<br />
  Download <a href="docs/directions.pdf" target="_blank">driving directions</a> (61k PDF) </p>
<p>&nbsp;</p>
</div>
