<div class="page-header">
	<h3>Promotions</h3>
</div>
<p>Free T-shirts for your entire team if you register your team for BOTH tournaments.</p>
<p>Order your discounted tickets to the famous Santa Cruz Beach Boardwalk and ride the rides! Discounts available to all Santa Cruz Beach Soccer Championships participants and their friends and families. Details below:</p>
<blockquote>
  <p> <a href="http://www.beachboardwalk.com/soccer" target="_blank">www.beachboardwalk.com/soccer</a><br />
    $23.95 plus tax - $25.15 (normally $31.95 plus tax)<br />
    PROMO CODE FOR JUNE 8 &amp; 9: BeachSoccer1<br />
    PROMO CODE FOR JUNE 15 &amp; 16: BeachSoccer2</p>
</blockquote>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>