
<div  id ="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
   
    <div class="item active">
   		<div style="height:250px;padding:10px;">
        <h3>Now Promoting...</h3>
  			<p>Free T-shirts for your entire team if you register your team for BOTH tournaments.</p>
 			<p>Order your discounted tickets to the famous Santa Cruz Beach Boardwalk and ride the rides! Discounts available to all Santa Cruz Beach Soccer Championships participants and their friends and families. Details below:</p>
		<blockquote>
    	<p><a href="http://www.beachboardwalk.com/soccer" target="_blank">www.beachboardwalk.com/soccer</a><br />
    		$23.95 plus tax - $25.15 (normally $31.95 plus tax)<br />
    		PROMO CODE FOR JUNE 8 &amp; 9: BeachSoccer1<br />
    		PROMO CODE FOR JUNE 15 &amp; 16: BeachSoccer2</p>
		</blockquote>
		</div>
    </div>
    <div class="item">
    	<div style="height:250px;padding:10px;">
    	<h3>Now Promoting...</h3>
      <p><strong>Wristbands to the famous Beach Boardwalk</strong> – Order your discounted tickets to the famous Santa Cruz Beach Boardwalk  and ride the rides! Discounts available to all Santa Cruz Beach Soccer  Championships participants and their friends and families. Details below:</p>
      <blockquote>
        <p><a href="http://www.beachboardwalk.com/soccer" target="_blank">www.beachboardwalk.com/soccer</a><br />
          $21.95 plus tax - $23.05 (normally $29.95 plus tax)<br />
          PROMO CODE FOR JUNE 2 &amp; 3: BeachSoccer1<br />
          PROMO CODE FOR JUNE 16 &amp; 17: BeachSoccer2</p>
    </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->


<h2>In Store Now</h2>
<a id="example"  
    rel="popover"
    data-placement="bottom"
    data-html="true"
	data-content="<p>Santa Cruz Beach Soccer Championships is happy to provide you with your beach soccer essentials. Beach soccer balls, sand socks, tournament t-shirts, and other soccer gear will be available for purchase at the &quot;Soccer Store&quot; booth at the tournament. Sales will begin on Friday at Check-In from 4pm-9pm and continue throughout the weekend, but preorders are available anytime via email at <a href='mailto:info@beachsoccerchampionships.com' target='_blank'>info@beachsoccerchampionships.com</a>. It is highly recommended that you try on and purchase your sandsocks at the beach Friday for a proper fit. This avoids any shipping and handling associated with online orders and improper sandsock fitting, which is very common and usually these items are non-returnable.</p><p>Save money and time on pre-ordering your gear ahead of time! Check out the “pre-order” prices below for savings, and save even more when you order 10 items or more. For an added convenience, we will have a priority pre-order line only at the sales booth so you can avoid the long lines. Pre-ordering your gear will also guarantee you get the gear you need, as almost all items sell out each year. There are also additional colors of sandsocks available for pre-order.</p><p>All pre-order prices will be honored through May 20th 2013, any orders placed after the 20th will be at the tournament prices.</p>
<p>Wristbands to the boardwalk can purchased online using the Santa Cruz Beach Soccer Championships discount code (see below).</p>
">Click to see details about ordering
</a>

<hr/>

<script>
$(function ()  
	{ $("#example").popover();  
}); 
</script>  

<ul class="thumbnails">  
        <li class="span3">  
          <div class="thumbnail">  
            <img src="/assets/SarsonBall.jpg" alt="sarson ball">  
            <div class="caption">  
              <h5>Beach Soccer Balls</h5>  
              <p>Tournament Price $20</br>
                 Pre-order Price $18
                </br>
              </div>  
          </div>  
        </li>  
        
        <li class="span3">  
        	<h6>The official tournament ball is a specially made soccer ball for 
          	beach play and is available for purchase at the tournament.</h6>
          	<small>This picture is for reference only; we are ordering new balls from a 
          	different manufacturer for 2013!</small>
         </li> 
</ul>
        
<div style="clear:both"></div>
<h5>Sand Socks</h5>
        
<ul class="nav nav-pills">
	<li>
        <a id="size-info"  
    		rel="popover"
    		data-placement="bottom"
    		data-html="true"
	data-content="<p><strong>Size Chart</strong></p>
      <p><strong>XXSmall</strong><br />
        Men's/Boys'   1 - 2 <br />
        Women's/Girls'   1 – 3</p>
      <p><strong>XSmall</strong><br />
        Men’s/Boys’   2½ - 4<br />
        Women’s/Girls’   3½ - 6</p>
      <p><strong>Small</strong><br />
        Men’s/Boys’   4½ - 6 ½<br />
        Women’s/Girls’ 6½-8½</p>
      <p><strong>Medium</strong><br />
        Men’s    7 – 10<br />
        Women’s   9 - 11½</p>
      <p><strong>Large</strong><br />
        Men’s   10½  - 12<br />
        Women’s   12 – 14</p>
      <p><strong>XLarge</strong><br />
        Men’s   12½ - 14</p>
      <p><strong>XXL</strong><br />
        Men’s   14½ +</p></td>
						
				">Click Here For Size Information
		</a>
	</li>
	<li><a id="order-info"  
    		rel="popover"
    		data-placement="bottom"
    		data-html="true"
	        data-content="<p><strong>Sand Socks</strong> – Sand socks are great to protect your feet from the warm sand and ball  hitting your bare foot. Many players find that sand socks make playing beach  soccer much more comfortable and enjoyable.</p>
      <p>Tournament Price $20<br />
        Pre-order Price $18<br />
        10 or more Price $15</p>
<p>It is important to purchase your sand socks at the tournament because  the sizing does not match shoe sizes exactly. We will have an area to try on  sand socks so you have the perfect fit while you play.</p>
	"
	        >Click Here For Detailed Ordering Information
		</a>
	</li>
  
</ul>
		
		
		
<script>
$(function ()  
	{ $("#size-info").popover();  
}); 
</script>  
        
        <hr/>
        
     <ul class="thumbnails">  

        <li class="span3">  
          <div class="thumbnail">  
            <img src="/assets/sox-black-t.jpg" alt="sox black">  
            <div class="caption">  
              <h5>Sand Socks (Black)</h5>  
            </div>  
          </div>  
        </li>  
        <li class="span3">  
          <div class="thumbnail">  
            <img src="/assets/sox-blue-t.jpg" alt="sox blue">  
            <div class="caption">  
              <h5>Sand Socks (blue)</h5>  
              
              
            </div>  
          </div>  
        </li>  
        <li class="span3">  
          <div class="thumbnail">  
            <img src="/assets/sox-green-t.jpg" alt="sox green">  
            <div class="caption">  
            	 <h5>Sand Socks (green)</h5> 
              
             
            </div>  
          </div>  
        </li>  
         <li class="span3">  
          <div class="thumbnail">  
            <img src="/assets/sox-pink-t.jpg" alt="sox pink">  
            <div class="caption">  
              <h5>Sand Socks (pink)</h5>  
             
             
            </div>  
          </div>  
        </li>  
      </ul>  
<hr/>
<h5>Tournament Shirts</h5> 
<p> – The tournament shirts are a must-have to remember your summer break fun.  Short-sleeve, long-sleeve, and hoodies are available for purchase at the  tournament.</p>
      <p>Short-sleeve </p>
      <ul>
        <li>Tournament Price $12</li>
        <li>Pre-order Price $11</li>
        <li>10 or more Price $10</li>
      </ul>
      <p>Long-sleeve</p>
      <ul>
        <li>Tournament Price $20</li>
        <li>Pre-order Price $18</li>
        <li>10 or more Price $15</li>
      </ul>
      <p>Hoodie</p>
      <ul>
        <li>Tournament Price $35</li>
        <li>Pre-order Price $32</li>
        <li>10 or more Price $30</li>
      </ul> 
      
      <img src="/assets/tee.jpg"></img>







