<div class="container">

      <div class="row">


        <div class="col-md-9">

          <div class="row carousel-holder">

            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                     <div style="padding:10px;">
        			 	<h3>Now Promoting...</h3>
                        	<p>Free T-shirts for your entire team if you register your team for BOTH tournaments.</p>
                        	<p>Order your discounted tickets to the famous Santa Cruz Beach Boardwalk and ride the rides! Discounts available to all Santa Cruz Beach Soccer Championships participants and their friends and families. Details below:</p>
                		<blockquote>
            			<p><a href="http://www.beachboardwalk.com/soccer" target="_blank">www.beachboardwalk.com/soccer</a><br />
                    		$23.95 plus tax - $25.15 (normally $31.95 plus tax)<br />
                    		PROMO CODE FOR JUNE 8 &amp; 9: BeachSoccer1<br />
                    		PROMO CODE FOR JUNE 15 &amp; 16: BeachSoccer2</p>
                		</blockquote>
                	</div>
                  </div>
                  <div class="item">
                  	<div style="padding:10px;">
            			<h3>Now Promoting...</h3>
      					<p><strong>Wristbands to the famous Beach Boardwalk</strong> – Order your discounted tickets to the famous Santa Cruz Beach Boardwalk  and ride the rides! Discounts available to all Santa Cruz Beach Soccer  Championships participants and their friends and families. Details below:</p>
      				<blockquote>
        				<p><a href="http://www.beachboardwalk.com/soccer" target="_blank">www.beachboardwalk.com/soccer</a><br />
          					$21.95 plus tax - $23.05 (normally $29.95 plus tax)<br />
          					PROMO CODE FOR JUNE 2 &amp; 3: BeachSoccer1<br />
         					PROMO CODE FOR JUNE 16 &amp; 17: BeachSoccer2</p>
    				</div>
                 </div>
               </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">

            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                <img src="/assets/SarsonBall.jpg" alt="">
                <div class="caption">
                  <h4><a href="#">Beach Soccer Balls</a></h4>
                  <h4 class="pull-right">Tournament Price: $20</h4>
                  <h4 class="pull-right">Pre-order Price: $20</h4>
                  <div class="spacer"></div>
                  <b>
                  	The official tournament ball is a specially made soccer ball for beach play and is available for purchase at the tournament.</b>

<small>This picture is for reference only; we are ordering new balls from a different manufacturer for 2013!</small>
                  
                </div>

              </div>
            </div>
                    <p><strong>Sand Socks</strong> – Sand socks are great to protect your feet from the warm sand and ball  hitting your bare foot. Many players find that sand socks make playing beach  soccer much more comfortable and enjoyable.</p>
     
<p>It is important to purchase your sand socks at the tournament because  the sizing does not match shoe sizes exactly. We will have an area to try on  sand socks so you have the perfect fit while you play.</p>      
            

            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                <img src="/assets/sox-black-t.jpg" alt="">
                <div class="caption">
                  <h4><a href="#">Sand Socks (Black)</a></h4>
                  <h4 class="pull-right">Tournament Price: $20</h4>
                  <h4 class="pull-right">Pre-order Price: $18</h4>
                  <h4 class="pull-right">10 or more Price: $15</h4>
                  <div class="spacer"></div>
                  
                </div>

              </div>
            </div>
            
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                <img src="/assets/sox-blue-t.jpg" alt="">
                <div class="caption">
                  <h4><a href="#">Sand Socks (Blue)</a></h4>
                  <h4 class="pull-right">Tournament Price: $20</h4>
                  <h4 class="pull-right">Pre-order Price: $18</h4>
                  <h4 class="pull-right">10 or more Price: $15</h4>
                  <div class="spacer"></div>
                  
                </div>

              </div>
            </div>
            
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                <img src="/assets/sox-green-t.jpg" alt="">
                <div class="caption">
                  <h4><a href="#">Sand Socks (Green)</a></h4>
                  <h4 class="pull-right">Tournament Price: $20</h4>
                  <h4 class="pull-right">Pre-order Price: $18</h4>
                  <h4 class="pull-right">10 or more Price: $15</h4>
                  <div class="spacer"></div>
                  
                </div>

              </div>
            </div>
            
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                <img src="/assets/sox-blue-t.jpg" alt="">
                <div class="caption">
                  <h4><a href="#">Sand Socks (pink)</a></h4>
                  <h4 class="pull-right">Tournament Price: $20</h4>
                  <h4 class="pull-right">Pre-order Price: $18</h4>
                  <h4 class="pull-right">10 or more Price: $15</h4>
                  <div class="spacer"></div>
                  
                </div>

              </div>
            </div>
<hr/>
 <p><strong>Size Chart</strong></p>
      <p><strong>XXSmall</strong><br />
        Men's/Boys'   1 - 2 <br />
        Women's/Girls'   1 – 3</p>
      <p><strong>XSmall</strong><br />
        Men’s/Boys’   2½ - 4<br />
        Women’s/Girls’   3½ - 6</p>
      <p><strong>Small</strong><br />
        Men’s/Boys’   4½ - 6 ½<br />
        Women’s/Girls’ 6½-8½</p>
      <p><strong>Medium</strong><br />
        Men’s    7 – 10<br />
        Women’s   9 - 11½</p>
      <p><strong>Large</strong><br />
        Men’s   10½  - 12<br />
        Women’s   12 – 14</p>
      <p><strong>XLarge</strong><br />
        Men’s   12½ - 14</p>
      <p><strong>XXL</strong><br />
        Men’s   14½ +</p></td>     
        
<hr/>

<h5>Tournament Shirts</h5> 
<p> – The tournament shirts are a must-have to remember your summer break fun.  Short-sleeve, long-sleeve, and hoodies are available for purchase at the  tournament.</p>
      <p>Short-sleeve </p>
      <ul>
        <li>Tournament Price $12</li>
        <li>Pre-order Price $11</li>
        <li>10 or more Price $10</li>
      </ul>
      <p>Long-sleeve</p>
      <ul>
        <li>Tournament Price $20</li>
        <li>Pre-order Price $18</li>
        <li>10 or more Price $15</li>
      </ul>
      <p>Hoodie</p>
      <ul>
        <li>Tournament Price $35</li>
        <li>Pre-order Price $32</li>
        <li>10 or more Price $30</li>
      </ul> 
      
      <img src="/assets/tee.jpg"></img>

          </div>

        </div>

      </div>

    </div><!-- /.container -->