<div class="page-header">
	<h3>Referees</h3>
</div>
<p>We'd  like to thank you for your interest in becoming a referee at the Santa Cruz  Beach Soccer Championships. You are a vital part of the tournament, and we look  forward to working with you.</p>
<p>In  order to referee a beach soccer game, you need to be aware of a few key facts:</p>
<ol>
  <li>Games are 5v5 (4 per  team, plus a goalkeeper)</li>
  <li>Fields are 25x35  (youth) or 30x40 (adult) yards– much smaller than a regular soccer field</li>
  <li>Games consist of three  11-minute periods, with 2 minute breaks between periods</li>
  <li>There will be one  referee per field for all games, with the exception of men&rsquo;s open division (two  referees)</li>
  <li>There are no linesmen</li>
  <li>Beach soccer  experience is recommended</li>
  <li>Please refer to <a href="http://www.fifa.com/mm/document/footballdevelopment/refereeing/81/42/36/lawsofthegame_2012_e.pdf" target="_blank">FIFA's Laws of the game</a> (PDF)</li>

</ol>
<p>To thank you for your assistance, we  offer the following benefits to our referees:</p>
<ol>
  <li>Free training on the  rules of the game (Friday evening at 6:30pm-8:00pm)</li>
  <li>$15 per game (paid  after your last game)</li>
  <li>A shaded Referees' tent with lunch </li>
  <li>$15.00 for gas if you  are traveling over 65 miles; $20 for over 100 miles (fuel is per vehicle not  per person, carpools are encouraged)</li>
</ol>
<p>If you are interested, please call  us at 415-342-5851 or email us at <a href="mailto:info@BeachSoccerChampionships.com">info@BeachSoccerChampionships.com</a>.</p>
<p>Please  provide us with your name, experience, and a copy of your drivers license.</p>
<p>&nbsp;</p>


<div class="page-header">
	<h3>Volunteers</h3>
</div>

<p>We sincerely appreciate your interest in volunteering for  the Santa Cruz Beach Soccer Championships. Your time and dedication are what make this tournament a success. We couldn’t do it without you!</p>
<p>We are in need of the following volunteers:</p>
<ol>
  <li>Setup/Breakdown Crew:
    <ul>
      <li>Friday evening, Saturday morning, and Sunday evening shifts</li>
      <li>Setup and breakdown of fields, tents, tables, chairs and other equipment</li>
      <li>Three to four hour shifts</li>
    </ul>
  </li>
  <li>Cleanup Crew:
    <ul>
      <li>Help keep the beach clean during and after the event</li>
      <li>Three to four hour shifts</li>
    </ul>
  </li>
  <li>Administrative Assistants:
    <ul>
      <li>Work the registration table</li>
      <li>Enter game scores</li>
      <li>Assist director, coordinators, sponsors, and fellow volunteers</li>
      <li>Three to four hour shifts</li>
    </ul>
  </li>
  <li>Field Marshalls:
    <ul>
      <li>During game play, supervise two beach soccer fields.</li>
      <li>Report scores to the Headquarters tent after each game.</li>
      <li>Three to four hour shifts</li>
    </ul>
  </li>
  <li>Raffle Sales:
    <ul>
      <li>Work the raffle table</li>
      <li>Sell tickets on the beach</li>
      </ul>
  </li>
  <li><a href="/emt">EMT Position</a></li>
  </ol>
<p>To show our gratitude, we offer our volunteers the following:</p>
<ol>
  <li>Free tournament T-Shirt</li>
  <li>Free breakfasts, lunches, and drinks each day of the       tournament</li>
</ol>
<p>If  you are interested, please call us at 415-342-5851 or email us at <a href="mailto:info@BeachSoccerChampionships.com">info@BeachSoccerChampionships.com</a>.</p>
<p>&nbsp;</p>
