<div class="page-header">
  <h3>Registration</h3>
</div>

<p><strong><span class="highlight">Registration for<span class="fake_btn2"> the May 31 - June 1</span> 2014 tournament coming soon!<br />
</span></strong></p>
<h5>Steps to register your team:</h5>
<p><strong>1.</strong> Click registration link (below in yellow) and fill out the information through the E7 registration website. A few necessary details to be aware of: </p>
<ul>
  <li>If you are a co-ed team, it does not matter if you choose boys or girls as the gender selection.</li>
  <li>The roster does not need to be accurate until 1 hour before your first game. So, to complete registration fill in the required fields and update as you decide who will be on your roster.</li>
  <li>You can pay by check OR credit card using the PayPal link via our site (even though E7 says you can only pay by check). After you register, return to <a href="registration">registration page</a> (this webpage) and select the credit card payment below.</li>
  </ul>
<table align="center" style="padding:10px;">
  <tr>
    <td align="center"><span class="fake_btn2">Register for May 31 - June 1<br />
      (coming soon)
    </span></td>
    <td align="center">&nbsp;</td>
    <td align="center"><!--<span class="fake_btn2"><a href="http://www.eyouthsportsusa.com/cgi-win/ebap.exe?nT105686" target="_blank">Register for June 15-16</a></span>--></td>
  </tr>
</table>
<p>&nbsp;</p>
<p><strong>2.</strong> To pay by credit card </p>
<ul>
  <li>Go to the drop-down menu below (&quot;Pay Now&quot;) and select the adult or youth registration and add to cart. You will be directed to our PayPal account where you can make a secure payment. There is a 3% service charge for paying by credit card.</li>
</ul>
<h2>Pay Now!</h2>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WFKS8U76QQS9E">
<table>
<tr><td><input type="hidden" name="on0" value="Options">Options - Choose One</td></tr>
<tr><td><select name="os0">
<option value="Team Entry Fee: Youth Teams">Team Entry Fee: Youth Teams $525.00</option>
<option value="Team Entry Fee: Adult Teams">Team Entry Fee: Adult Teams $525.00</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p>&nbsp;</p>
<p><strong>3.</strong> To pay by check: </p>
<ul>
  <li>Make checks payable to: US Soccer International</li>
  <li>Mail checks to:<br />
    P.O. Box 330180<br />
    San Francisco, CA 94133</li>
</ul>
<p>&nbsp;</p>
<p><strong>4.</strong> Payment Updates will be made to your registration page every 2 weeks and you will receive an email confirmation that your payment has been received.</p>
<p>&nbsp;</p>
<p><strong>Team Entry Fee:</strong><br />
  $525 for Youth teams<br />
  $525 for Adult teams</p>
<!--<table align="center" style="padding:10px;">
  <tr>
    <td align="center"><span class="fake_btn2"><a href="http://www.eyouthsportsusa.com/cgi-win/ebap.exe?pW105685" target="_blank">Registered Teams' Login for June 8-9</a></span></td>
    <td align="center">&nbsp;</td>
    <td align="center"><span class="fake_btn2"><a href="http://www.eyouthsportsusa.com/cgi-win/ebap.exe?pW105686" target="_blank">Registered Teams' Login for June 15-16</a></span></td>
    </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
<!--  <tr>
    <td align="center"><span class="fake_btn2"><a href="http://www.t7sports.com:8080/2005/b105268.htm" target="_blank">Schedule/scores for June 8-9</a></span></td>
    <td align="center">&nbsp;</td>
    <td align="center"><span class="fake_btn2"><a href="http://www.t7sports.com:8080/2005/b105269.htm" target="_blank">Schedule/scores for June 15-16</a></span></td>
  </tr>
</table>-->
<p>&nbsp;</p>
<p>Recreational and Competitive Divisions (<span class="highlight">all games scheduled at 9:30am or later on Saturday & Sunday</span>):</p>
<ul>
  <li>Boys U8-U19</li>
  <li>Girls U8-U19</li>
  <li>Collegiate*</li>
  <li>Adult Co-ed</li>
  <li>Women's</li>
  <li>Women's 40+</li>
  <li>Men's</li>
  <li>Men's 40+</li>
  <li>Men's Open (Cash  Prize)</li>
</ul>
<p>*  Collegiate players are able to play in our competitive divisions, but not in  our Men's Open cash prize division.</p>
<p><strong>Print and sign a <%= link_to 'Release of Liability Form', '/docs/release_waiver.pdf' -%> (212kb PDF) for each  player.</strong></p>
<p><strong>Registration Deadlines:</strong><br />
  coming soon</p>
<p>&nbsp;</p>
<p>Questions? 415-342-5851 or <a href="mailto:info@BeachSoccerChampionships.com">info@beachsoccerchampionships.com</a> (calls accepted after March 15th, email for  immediate questions).</p>
<p>&nbsp;</p>
</div>