<div class="page-header">
  <h3>Registration Forms</h3>
</div>

<p>Thank you for registering your team to play in one or  both of the 2013 Santa Cruz Beach Soccer Championships tournaments! Please download and print the forms below  prior to Check-In. Please fill out your final roster and have each  player complete and sign the Release and Waiver of Liability. Every  player must execute the Release and Waiver or they will not be allowed  to compete. We would ask that you complete these forms as soon as  possible, as it will help everything run more smoothly during  registration. You may return all completed forms prior to the  tournament via U.S.P.S. to the address listed on the Registration page,  or via e-mail to <a href="mailto:info@beachsoccerchampionships" target="_blank">info@beachsoccerchampionships</a>. If you are unable to complete them in advance, please be aware that ALL  forms are due at Check-In, no later than 2 hours prior to your first  game.</p>
<p><%= link_to 'Release and Waiver', '/docs/release_waiver.pdf' -%> (93k PDF)</p>
<p><%= link_to 'Team Registration form and Roster', '/docs/roster.pdf' -%> (5mb PDF)</p>
<p>&nbsp;</p>
<p> Questions? 415-342-5851 or <a href="mailto:info@BeachSoccerChampionships.com">info@beachsoccerchampionships.com</a> (calls accepted after March 15th, email for immediate  questions).</p>
<p>&nbsp;</p>
</div>
