<div class="page-header">
	<h3>Schedule</h3>
</div>
<p><font size="2">Hello Players,<p>

Thank you very much for your patience. Our scheduling program E-7 has been down this week and we now have the schedule on the website. The remaining divisions will be up shortly.  It would be best to check in your team tonight from 5-9 at our booth behind IDEAL Bar & Grill on the corner of the Beach St. and Pacific Ave. at the beginning of the wharf. <p>

Our early Check-in is Friday, June 14th beside Ideal Bar Grill (106 Beach St. SC) where sand socks, beach soccer balls and tournament Tshirts are sold.</p>

Again, thank you for your understanding and we're looking forward to a great tournament!</font> </p>


<font size="5">Event Site Map</font></br>
<img src="/assets/SiteMap_Weekend2.png" /><p>

</br>
<font size="5">Below is the Saturday, June 15th Scores and Sunday Seedings PDF</font></br>
<p><font size="4">Click on the link below to view a PDF or right-click to download.</font>

<font size="4"><p><a href="/docs/Saturday_June16th_points_seedings.pdf">Saturday, June 15th Scores and Sunday Seedings</a>

<p>Please note: schedule does not update on mobile devices. Please use a computer to view the most current schedule for tomorrow's games (Sunday June 15th). We apologize for the inconveniences and should be corrected by tomorrow.</font>
