<div class="page-header">
	<h3>Sponsors</h3>
</div>
<h6>If you are interested in being a sponsor of the Santa Cruz Beach Soccer Championships,
	please see our <%= link_to 'Sponsorship Brochure', '/docs/beachsoccer_sponsorshippackage.pdf' -%> 
    (356kb PDF) for the levels and benefits</h6>
 <a href = "/docs/beachsoccer_sponsorshippackage.pdf"><img src="/assets/brodow.jpg"></img></a>

<hr/>
<div style="margin-top:10px;">
<h2>2013 Sponsors</h2> <br />     
<img src="/assets/logo_boardwalk(new).jpg" style="height:100px;width:100px;"> 
<img src="/assets/logo-owfp_150.png" style="height:100px;width:100px;">  
<img src="/assets/logo-golazo_150.png" style="height:100px;width:100px;"> 
<img src="/assets/logo_djlogo.jpg" style="height:100px;width:100px;"> 
<img src="/assets/meetgeraldine_black.jpg" style="height:100px;width:100px;">
</div>
<hr/>

<div style="margin-top:10px;">
<h2>Previous Sponsors</h2> 
<br /> 
<img class="logos" src="/assets/logo_bananaboat.jpg" style="height:100px;width:100px;">  
<img class="logos" src="/assets/logo_bluelotus.jpg" style="height:100px;width:100px;">   
<img class="logos" src="/assets/logo_brinks.gif" style="height:100px;width:100px;">   
<img class="logos" src="/assets/logo_espnd.jpg" style="height:100px;width:100px;">  
<img class="logos" src="/assets/logo_ht.jpg" style="height:100px;width:100px;">
<img class="logos" src="/assets/logo_pts.jpg" style="height:100px;width:100px;">  
<img class="logos" src="/assets/logo_riterain.jpg" style="height:100px;width:100px;">
<img class="logos" src="/assets/logo_scbsc.jpg" style="height:100px;width:100px;">  
<img class="logos" src="/assets/logo_signup.jpg" style="height:100px;width:100px;"> 
<img class="logos" src="/assets/logo_sos.jpg" style="height:100px;width:100px;"> 
<img class="logos" src="/assets/logo_sunset.jpg" style="height:100px;width:100px;"> 
<img class="logos" src="/assets/logo-santacruz.jpg" style="height:100px;width:100px;"> 
<img class="logos" src="/assets/logo-scpg.jpg" style="height:100px;width:100px;"> 
<img class="logos" src="/assets/logo-woodstock.jpg" style="height:100px;width:100px;"> 
</div>
 <br />   



