// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#car{
width:320px; 
}
p{
  margin-top:5px;
  padding-bottom:5px;
  font-size:12px;
  line-height:1.5em;
 }