// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
  
.navbar li a{
 
 
}
.full-width-image-1 {
  background: url('/assets/beach-wallpaper-183-hd.jpg');
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}
body{
  margin-top:50px;
}
.logo-wrapper {
  display: inline-block;
}
#main{
  padding:10px;
  width:100%;
}

.sidebar-nav {
  
  right:0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  
}

.sidebar-nav li a {
  //color: #999999;
  display: block;
  color:#6698FF;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000606;
  //background: #62F6EC;
  background: rgba(255, 204, 102,0.9);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


div#share{
   padding:20px;
}
.share{
  width:40px;
}

div.spacer{
  clear:both; 
  height:10px; 
  display:block;
}
#column_left{
  width:80%;
  float:left;
  padding:10px;
}
#column_right{
  width:20%;
  right:0;
  float:left;
  padding-bottom:10px;
 // background-image:url('/assets/1.jpg')
  background-color:rgba(0,0,0,0.1);
 
 }
#down{
  background-image:url('/assets/3.jpg');
}
#bottom{
  width:720px;
  display:block;
  height:170px;
 
  padding:10px;
}
#footer{
  width:auto;
  display:block; 
  padding:10px 0; 
  font-size:11px; 
  color:#666666;
  text-align:center;
}

#car{
width:320px; 
}
p{
  margin-top:5px;
  padding-bottom:5px;
  font-size:12px;
  line-height:1.5em;
 }
.logos{
  margin-right:15px;
  margin-bottom:50px;
}