<!DOCTYPE html>
<html>
<head>
  <title>FreshCoastSoccer</title>
   <link rel="icon" type="image/png" href="/assets/Soccer-Ball-icon.png">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="with=device-width,initial-scale=1.0" />
  

</head>
<body>
	<div id="fb-root"></div>
<script>

 
(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=443216965790088";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

!function(d,s,id){
                	var js,fjs=d.getElementsByTagName(s)[0],
                	p=/^http:/.test(d.location)?'http':'https';
                	if(!d.getElementById(id)){
                		js=d.createElement(s);
                		js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                		fjs.parentNode.insertBefore(js,fjs);
                		}
                	}(document, 'script', 'twitter-wjs');
               
</script>

	<div id="container">
		<div id="topbar">
			<div id="logo">
  				<a href="/">
  					<img src="/assets/freshcoast_logo_mgdraft_updated.jpg" width="150px" height="10px"/>
  				</a>
			</div>
			<div id="headline">
				<h4 id="headline4">Santa Cruz Beach Soccoer Championships</h4>
				<h5 id="headline5">May 31 - June 1, 2014</h5>
				<h6 id="headline6">Rigister for the best beach soccer tournaments in Santa Cruz.</br>
				   Two great weekends available!</h6>
			</div>
		</div>
		
		
		<div class="navbar ">
			<div class="navbar-inner">
				<ul class="nav nav-pills">
					<li>  <a href="/">Home</a></li> 
            		<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration <b class="caret"></b></a>
       				 		<ul class="dropdown-menu">
          						<li><a href="registration">Regiration</a></li>
          						<li><a href="registration_forms">Registration Forms</a></li>
        					</ul>
      				</li>
            		<li><a href="invite">Invite Your Friends</a></li>
            		<li><a href="pro_store">Promotions & Soccer Store</a></li> 
            		<li><a href="sponsors">Sponsors</a></li>
           			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact Us <b class="caret"></b></a>
       				 		<ul class="dropdown-menu">
          						<li><a href="contact">Contact Info</a></li>
          						<li><a href="#">Location/Maps</a></li>
        					</ul>
      				</li>
      			  </ul>
       		 </div>
       	</div>
		
		<div id = "main ">
			<div id="column_left">
				<%=yield%>
			</div>
			
			<div id="column_right">

				
				<ul class="nav nav-pills nav-stacked">  
					<li><a href="announce">Announcements</a></li>
					<li><a href="#">Check-In</a></li>   
					<li><a href="#">Tournament Details</a></li>   
					<li><a href="#">Referees & Volunteers</a></li>  
					<li><a href="#">Photo & Videos</a></li>  
					<li><a href="#">Past Champions</a></li> 
					<li><a href="#">Accommadations</a></li>
				</ul>  
	
				<a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" 
					href="https://www.facebook.com/sharer/sharer.php?app_id=443216965790088&sdk=joey&u=http%3A%2F%2Ffreshcoastbeachsoccer.com/%2F&display=popup">
					<img src="/assets/facebook.png"/>	
				</a>
				
				
				<a href="https://twitter.com/share" class="twitter" target="_blank"
													onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" 
													data-url="http://www.freshcoastbeachsoccer.com/" 
													data-hashtags="BeachSoccer">
		        	<img src="/assets/twitter.png"/>	
				</a>
				
				<!-- Place this tag where you want the share button to render. -->
				<a href="https://plus.google.com/share?url=http://www.freshcoastbeachsoccer.com/" 
				   onclick="return !window.open(this.href, 'Google', 'width=640,height=300')">
    				<img src="/assets/google.png" alt="Google+" title="Google+"/>
				</a>
				
                
			 
			 
			
			 

			  				
				

			</div>
			<div class="spacer"></div>
			<hr/>
			<div id="bottom">
			 
				<h6><small> some of our sponsors</small></h6>
				<a href="http://www.beachboardwalk.com/" target="_blank"><img src="http://www.beachsoccerchampionships.com/images/logo_boardwalk(new).jpg" width="120" height="105" border="0" /></a>&nbsp;
				<a href="http://www.brinksawards.com/" target="_blank"><img src="http://www.beachsoccerchampionships.com/images/logo_brinks_sm.gif" width="100" height="94" border="0" /></a>&nbsp;
				<a href="http://www.hawaiiantropic.com/" target="_blank"><img src="http://www.beachsoccerchampionships.com/images/logo_ht_sm.jpg" width="120" height="69" border="0" /></a>&nbsp;
				<img src="http://www.beachsoccerchampionships.com/images/logo_espnd_sm.jpg" width="120" height="119" border="0" />
			</div>	
			</div>
			<div class="spacer"></div>
		</div>
		
		<div id="footer">© 2013 U.S. Soccer International
			
		</div>
	</div>
</body>


</body>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 5000
    });
  });
</script>
</html>
